# base
.env
.env.*
node_modules/
example-ignored/

# build folders
lib
build
dist
gen/
target/
_out
coverage

# Typescript
tsconfig.build.tsbuildinfo

# logs
*.log

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# TODO - not now, reconsider when production ready
# !.yarn/cache

# Other
.DS_Store
*.orig
*.log
*.flattened-pom.xml
.eslintcache

### IDEs ###
# VSCode
# nothing to do :-)
# .vscode

# Intellij / Webstorm
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Emacs
*~

# Eclipse
.classpath
.project
.settings/


