name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  check_circular_deps:
    name: Check for Circular Deps
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Check for circular dependencies
        run: yarn check-circular-deps
  tests_with_coverage:
    name: Testing With Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Install cds globally
        run: npm i -g @sap/cds-dk
      - name: Install packages
        run: corepack enable && yarn set version 3.5.0 && yarn install --immutable
      - name: Build packages
        run: yarn build
      - name: Type Test
        run: yarn type-test
      - name: Start CAP server & run tests
        run: |
          yarn start-cap &
          sleep 15
          yarn generate-from-url &&
          yarn coverage
      - name: Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
